* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

button {
    background-color: white;
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    font-size: 20px;
    background-color: rgb(242, 238, 238);

}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    padding: 20px;
    border-radius: 10px;
    background-color: lavender

}

input {
    width: 270px;
    padding: 20px;
    text-align: right;
    font-size: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}
.equal-to {
    background-color: #fb7c14;
}

